---
import MainLayout from "../layouts/MainLayout.astro";

import Divider from "../components/Divider.astro";

import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Blogs from "../sections/Blogs.astro";
import Contact from "../sections/Contact.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout title="The Observatory">
    <main>
        <Hero />
        <div class="tower">
            <About />
            <Divider />
            <Blogs />
            <Divider />
            <Projects />
            <Divider />
            <Contact />
        </div>
    </main>
</MainLayout>

<style>
    .tower {
        width: 80%;
        margin: 0 auto;
    }
</style>
