---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
    <div
        style={{
            display: "flex",
            justifyContent: "center",
            alignItems: "center",
            height: "100vh",
        }}
    >
        <h1 style="font-size:1.5rem;">🚧 Under Construction 🚧</h1>
    </div>
</MainLayout>
