---

---

<div class="divider" aria-hidden="true">&#10022;</div>

<style>
    .divider {
        display: flex;
        align-items: center;
        text-algin: center;
        margin: 0 auto;
        color: var(--accent);
        font-size: 1.5rem;
    }

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        height: 2px;
    }

    .divider::before {
        background: linear-gradient(90deg, transparent, var(--muted));
    }

    .divider::after {
        background: linear-gradient(270deg, transparent, var(--muted));
    }
</style>
