---

---

<footer class="footer">
    <p>
        <a href="mailto:contact@peaterpita.com">Email</a> ·
        <strong> Discord:</strong> peaterpita
    </p>
    <small
        >Copyright &copy; <span id="copyright"></span> | All rights reserved</small
    >
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date()
        .getFullYear()
        .toString();
</script>

<style>
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
