---
const { content } = Astro.props;
---

<span class="tag">{content}</span>

<style>
    .tag {
        color: var(--text);
        font-size: 0.6rem;
        border-radius: 100px;
        border: 1px solid var(--line);
        background-color: rgb(from var(--accent-light) r g b / 0.09);
        padding: 0.4rem 0.9rem;
    }
</style>
