---
import { getCollection } from "astro:content";
import SectionHeader from "../components/SectionHeader.astro";
import BlogLineItem from "../components/BlogLineItem.astro";

const blogs = (await getCollection("blogs"))
    .sort((a, b) => +b.data.date - +a.data.date)
    .slice(0, 5);
---

<section>
    <SectionHeader kicker="The Archives" title="Recent Entries" />

    <div class="blog-entries">
        {blogs.map((blog) => <BlogLineItem {blog} />)}
    </div>

    <p class="more">
        <a href="/blog/">Browse the complete archives &rarr;</a>
    </p>
</section>

<style>
    .blog-entries {
        list-style: none;
        border-top: 1px solid var(--line);
    }

    .more {
        margin-top: 2rem;
        font-size: 0.8rem;
    }
</style>
